{% extends "students_base.html" %} {%load static%} {%block content%}


<!-- Header start -->
<header class="header" style="  background: url(/static/img/header_bg.svg); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="header__body">
            <div class="header_title">
                <h2>Колледждегі үйірмелер</h2>
            </div>
            <div class="header_subtitle">
                <span class="header_subtitle-italic">JIHC</span> / Колледждегі үйірмелер
            </div>
        </div>
    </div>
</header>

<section class="clubs">
    <div class="container">
        <div class="clubs__body">
            <div class="clubs_video">
                <video preload="auto" controls poster="">
                    <source src="{{club_video.video.url}}">
                </video>
            </div>
            {%for el in club_form%}
            <div class="clubs_item">
                <div class="clubs_item-title">
                    <h3 class="main_title">
                        {{el.title}}
                    </h3>
                </div>
                <div class="clubs_item-text">
                    <p> {%autoescape off%}{{el.club_description}} {%endautoescape%}</p>
                </div>
                <div class="clubs_item-gallery">
                    {%for p in photos%}
                    <div class="gallery_clubs_item-img">

                        <img src="{{p.image.url}}" alt="">
                    </div>
                    {% endfor%}
                </div>
                <div class="clubs_btn">
                    <a href="" class="clubs_join-btn">
                        Клубка кіру
                    </a>
                </div>
            </div>
            {%endfor%}

        </div>
    </div>
</section>


{%endblock%}